@model BazaarECommerce.Models.ProductVM



<div class="g-0 ">
    <h4>Product Informations</h4>
    <div class="dropdown-divider"></div>

    @using (Html.BeginForm("AddProduct", "Admin", FormMethod.Post, new { model = Model }))
    {


        <div class="form-group">
            @Html.LabelFor(x => x.Product.ProductName)
            @Html.TextBoxFor(x => x.Product.ProductName, new { @class = "form-control", @required = "", @type = "text" })
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(x => x.Product.Price)
                @Html.TextBoxFor(x => x.Product.Price, new { @class = "form-control", @required = "", @type = "number", @min = 1 })
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(x => x.Product.Discount)
                @Html.TextBoxFor(x => x.Product.Discount, new { @class = "form-control", @required = "", @type = "number", @min = 1 })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(x => x.Product.Installment)
                @Html.TextBoxFor(x => x.Product.Installment, new { @class = "form-control", @required = "", @type = "number", @min = 1 })
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(x => x.Product.Quantity)
                @Html.TextBoxFor(x => x.Product.Quantity, new { @class = "form-control", @required = "", @type = "number", @min = 1 })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Product.Promotion)
            @Html.TextAreaFor(x => x.Product.Promotion, new { @class = "form-control", @required = "", @type = "phone" })
        </div>

        <div class="form-group">
            <div class="row ml-1 ">
                <label asp-for="@Model.Product.Category" class="mr-1">Category</label>
                <select asp-for="@Model.Product.CategoryId" id="categorySelect" onchange="categoryChanged()">
                    @foreach (var item in ViewBag.categories)
                    {
                        <option value="@item.CategoryId">@item.CategoryName</option>
                    }
                </select>
            </div>
            <div class="row ml-1">
                <input class="form-text" id="brandSearch" type="text" placeholder="Search.." onkeyup="filterFunction()" />
                <label asp-for="@Model.Product.Brand" class="mr-1">Brand</label>

                <select class="form-select" asp-for="@Model.Product.BrandId" id="brandSelect" style="min-width:5rem">
                    @foreach (var brand in ViewBag.brands)
                    {
                        <option value="@brand.BrandId">@brand.BrandName</option>
                    }
                </select>
            </div>
        </div>


        <div class="form-group">

        </div>

        <div id="secondTable">
            @await Html.PartialAsync("GetProductsSecondTable")
        </div>

        <div class="right-w3l">
            <input type="submit" class="form-control" value="Add Product" style="background: green; color:white"> @*#fdb03d*@
        </div>
    }


</div>

<script>
    categoryChanged();
    function filterFunction() {
        var input, filter, ul, li, option, i;
        input = document.getElementById("brandSearch");
        filter = input.value.toUpperCase();
        div = document.getElementById("brandSelect");
        option = div.getElementsByTagName("option");


        //div.focus();
        div.size = 3;

        for (i = 0; i < option.length; i++) {
            txtValue = option[i].textContent || option[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                option[i].style.display = "";
            } else {
                option[i].style.display = "none";
            }
        }

    }
    function categoryChanged() {
        var catId = $('#categorySelect').val();
        $.post("/Admin/GetProductsSecondTable?categoryId=" + catId)
            .then(function (result) {
                $('#secondTable').html(result);
            });
    }


    //function uploadFiles(inputId, productId) {


    //    var input = document.getElementById(inputId);
    //    var files = input.files;
    //    var formData = new FormData();

    //    for (var i = 0; i != files.length; i++) {
    //        formData.append("files", files[i]);
    //    }



    //    $.ajax(
    //        {
    //            url: "/Admin/AddImages",
    //            data: formData,
    //            processData: false,
    //            contentType: false,
    //            type: "POST",
    //            success: function (data) {
    //                Swal.fire({
    //                    title: 'Image Add',
    //                    text: 'Images added to product succesfully.',
    //                    icon: 'info',
    //                })
    //            }
    //        }
    //    );

    //}


    function ProductImagesInstructions() {
        Swal.fire({
            title: 'Instructions',
            text: 'Product images will be adding db alphabetic order.',
            icon: 'info',

        })
    }
</script>
