@model BazaarECommerce.Models.ProductVM


@if (Model?.Product?.CategoryId != null)
{
    @*<p>@Model.Product.CategoryId</p>*@
    @if (Model.Product.CategoryId == 1003)
    {
        <table class="table table-striped table-sm table-hover">
            <thead>
                <tr>
                    <h4>Book Table Areas</h4>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Writer</td>
                    <td class="col-8">
                        @Html.TextBoxFor(x => x.Book.WriterName, new { @class = "form-control", @required = "", @type = "text" })
                    </td>

                </tr>
                <tr>
                    <td>Category</td>
                    <td>
                        @Html.TextBoxFor(x => x.Book.CategoryName, new { @class = "form-control", @required = "", @type = "text" })
                    </td>
                </tr>
                <tr>
                    <td>Publication Year</td>
                    <td>
                        @Html.TextBoxFor(x => x.Book.PublicationYear, new { @class = "form-control", @required = "", @type = "text" })
                    </td>
                </tr>
                <tr>
                    <td>Page Number</td>
                    <td>
                        @Html.TextBoxFor(x => x.Book.PageNumber, new { @class = "form-control", @required = "", @type = "text" })
                    </td>
                </tr>
                <tr>
                    <td>Language</td>
                    <td>
                        @Html.TextBoxFor(x => x.Book.Language, new { @class = "form-control", @required = "", @type = "text" })
                    </td>
                </tr>

            </tbody>
        </table>
    }
    else if (Model.Product.CategoryId == 2)
    {
        <table class="table table-striped table-sm table-hover">
            <thead>
                <tr>
                    <h4>Electronic Table Areas</h4>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>DisplayCard</td>
                    <td class="col-8">
                        @Html.TextBoxFor(x => x.Electronic.DisplayCard, new { @class = "form-control", @required = "", @type = "text" })
                    </td>

                </tr>
                <tr>
                    <td>Processor</td>
                    <td>
                        @Html.TextBoxFor(x => x.Electronic.Processor, new { @class = "form-control", @required = "", @type = "text" })
                    </td>
                </tr>
                <tr>
                    <td>ScreenSize</td>
                    <td>
                        @Html.TextBoxFor(x => x.Electronic.ScreenSize, new { @class = "form-control", @required = "", @type = "text" })
                    </td>
                </tr>
                <tr>
                    <td>Operating System</td>
                    <td>
                        @Html.TextBoxFor(x => x.Electronic.OperatingSystem, new { @class = "form-control", @required = "", @type = "text" })
                    </td>
                </tr>
                <tr>
                    <td>Ram</td>
                    <td>
                        @Html.TextBoxFor(x => x.Electronic.Ram, new { @class = "form-control", @required = "", @type = "text" })
                    </td>
                </tr>
                <tr>
                    <td>Memory</td>
                    <td>
                        @Html.TextBoxFor(x => x.Electronic.Memory, new { @class = "form-control", @required = "", @type = "text" })
                    </td>
                </tr>
                <tr>
                    <td>Memory Type</td>
                    <td>
                        @Html.TextBoxFor(x => x.Electronic.MemoryType, new { @class = "form-control", @required = "", @type = "text" })
                    </td>
                </tr>
                <tr>
                    <td>Front Camera</td>
                    <td>
                        @Html.CheckBoxFor(x => x.Electronic.Webcam, new { @class = "form-control", @type = "checkbox" })
                    </td>
                </tr>

            </tbody>
        </table>
    }
    else if (Model.Product.CategoryId == 1)
    {
        <table class="table table-striped table-sm table-hover">
            <thead>
                <tr>
                    <h4>Electronic Table Areas</h4>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>DisplayCard</td>
                    <td class="col-8">
                        @Html.TextBoxFor(x => x.Electronic.DisplayCard, new { @class = "form-control", @required = "", @type = "text" })
                    </td>

                </tr>
                <tr>
                    <td>Processor</td>
                    <td>
                        @Html.TextBoxFor(x => x.Electronic.Processor, new { @class = "form-control", @required = "", @type = "text" })
                    </td>
                </tr>
                <tr>
                    <td>ScreenSize</td>
                    <td>
                        @Html.TextBoxFor(x => x.Electronic.ScreenSize, new { @class = "form-control", @required = "", @type = "text" })
                    </td>
                </tr>
                <tr>
                    <td>Operating System</td>
                    <td>
                        @Html.TextBoxFor(x => x.Electronic.OperatingSystem, new { @class = "form-control", @required = "", @type = "text" })
                    </td>
                </tr>
                <tr>
                    <td>Ram</td>
                    <td>
                        @Html.TextBoxFor(x => x.Electronic.Ram, new { @class = "form-control", @required = "", @type = "text" })
                    </td>
                </tr>
                <tr>
                    <td>Memory</td>
                    <td>
                        @Html.TextBoxFor(x => x.Electronic.Memory, new { @class = "form-control", @required = "", @type = "text" })
                    </td>
                </tr>
                <tr>
                    <td>Memory Type</td>
                    <td>
                        @Html.TextBoxFor(x => x.Electronic.MemoryType, new { @class = "form-control", @required = "", @type = "text" })
                    </td>
                </tr>
                <tr>
                    <td>Webcam</td>
                    <td>
                        @Html.CheckBoxFor(x => x.Electronic.Webcam, new { @class = "form-control", @type = "checkbox" })
                    </td>
                </tr>

            </tbody>
        </table>
    }

}