@model List<EntityLayer.Concrete.Product>

<style>
    .productImgHeight {
        height: 10rem;
    }

    .price {
        margin-bottom: 0px;
    }
</style>

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="row">
    @if (Model.Count < 1)
    {
    <p class="btn-danger col-12 rounded p-2">There is no Product..</p>
    }
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-lg-3" href="/Product/GetProductDetail?productId=@item.ProductId">
            <div class="card" style="margin-bottom:2rem;">
                <div class="text-center rounded " style="height:15rem; background-color:white; ">
                    @if (item?.Images?.Count > 0)
                    {
                        <img class="img-fluid" src="@item.Images[0].ImagePath" alt="Card image cap" style="max-height:100%; max-width:85%">
                    }
                    else
                    {
                        <img class="img-fluid" src="/images/imagedefault.png" alt="Card image cap" style="max-height:100%; max-width:85%">

                    }
                </div>
                <div class="card-body">
                    @if (item.ProductName.Length > 40)
                    {
                        <h6 class="card-title" style="height:3rem">@item.ProductName.Substring(0, item.ProductName.Substring(0, item.ProductName.Length < 40 ? item.ProductName.Length : 40).LastIndexOf(" "))..</h6>
                    }
                    else
                    {
                        <h6 class="card-title" style="height:3rem">@item.ProductName</h6>

                    }

                    <div class="">
                        <p class="card-text price ">@(item.Price-item.Discount)$</p>
                        <h6 class="float-right">@item.StarRate <i class="fas fa-star" style="color:#fdb03d"></i> </h6>
                    </div>
                    <p style="color:gray; margin-top:0px;">
                        <small>
                            <del>@item.Price$</del>
                            <b style="color:red">%@((int)((double)item.Discount/(item.Price) * 100))</b>
                        </small>

                    </p>

                    <a href="/Product/GetProductDetail?productId=@item.ProductId" class="btn" style="color: white; background-color: #fdb03d">See Product</a>

                </div>
            </div>
        </div>

    }
</div>