@model EntityLayer.Concrete.Product
@{
    ViewData["Title"] = "GetProductDetail";
    Layout = "~/Views/Shared/_NavBar.cshtml";
}

<style>
    .imgDiv {
        height: 75vh;
        /* align-self: center; */
    }

        .imgDiv img {
            height: 50vh;
            margin-top: 13%;
        }

        .imgDiv div {
            height: 100%;
            align-content: center;
        }
</style>

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

<body>
    <div class="container pt-2">
        <div class="row">
            <div class="col-md-6  rounded" style="border: 1px solid #ddd;">
                <div id="carouselExampleControls"
                     class="carousel slide"
                     data-ride="carousel">
                    <div class="carousel-inner imgDiv">
                        @for (int i = 0; i < Model?.Images?.Count; i++)
                        {

                            @if (i == 0)
                            {
                                <div class="carousel-item active text-center">
                                    <img class="" src=" @Model.Images[i].ImagePath" alt="Image @i" />
                                </div>
                            }
                            else
                            {
                                <div class="carousel-item  text-center">
                                    <img class="" src="@Model.Images[i].ImagePath" alt="Image @i" />
                                </div>
                            }
                        }

                    </div>
                    <a class="carousel-control-prev"
                       href="#carouselExampleControls"
                       role="button"
                       data-slide="prev">
                        <span class="carousel-control-prev-icon" style="background-color: transparent; height: 35px; width: 35px; border-radius: 50%; color:black; "
                              aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next"
                       href="#carouselExampleControls"
                       role="button"
                       data-slide="next">
                        <span class="carousel-control-next-icon" style="background-color: transparent; height: 35px; width: 35px; border-radius: 50%; color:black; "
                              aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <div class="col-md-6 p-3 " style="background-color: rgb(221 221 221 / 0.75)">
                <h1>@Model.ProductName</h1>
                <h6 class="" style="color:blue">@Model.Brand.BrandName</h6>
                <div class="row mt-3">
                    <div class="btn-danger text-center" style="color:white">
                        <h6 class="">%@((int)((double)Model.Discount / (Model.Price) * 100))</h6>
                        <div class="div">Discount</div>
                    </div>

                    <div class="" style="margin-left:15px">
                        <h6><del>@Model.Price $</del></h6>
                        <div class="div"><h4>@(Model.Price - Model.Discount)$</h4></div>
                    </div>

                    <div class="row" style="position:absolute; right:20px;">
                        <h5>@Model.StarRate <i class="fas fa-star" style="color:#fdb03d"></i> </h5>
                    </div>
                </div>

                <p class="my-3">@((Model.Price-Model.Discount)/Model.Installment) $ x @Model.Installment months Installment option</p>

                <p class="my-3 bg-light p-3"><span style="font:bold 1em arial,verdana;">Description: </span>@Model.Description</p>
                <p style="position:absolute; bottom:20px;left:20px;">@Model.Quantity pieces left</p>

                <div class="row" style="position:absolute; bottom:20px; right:50px;">
                    <span class="btn btn-lg"><i class="far fa-heart"></i></span>
                    <a onclick="addItemToCart(@Model.ProductId,@Model.Quantity, 1)" class="btn " style="color: white; background-color: #fdb03d; ">Add to Cart</a>
                </div>
            </div>
        </div>


        @* Computer extra information area *@

        <div class="mt-5">
            @if (Model.CategoryId == 2)
            {
                <table class="table table-striped table-sm table-hover">
                    <thead>
                        <tr>
                            <h4>@Model.ProductName properties</h4>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>DisplayCard</td>
                            <td class="col-8">@ViewBag.secondTable.DisplayCard</td>

                        </tr>
                        <tr>
                            <td>Processor</td>
                            <td>@ViewBag.secondTable.Processor</td>
                        </tr>
                        <tr>
                            <td>ScreenSize</td>
                            <td>@ViewBag.secondTable.ScreenSize</td>
                        </tr>
                        <tr>
                            <td>OperatingSystem</td>
                            <td>@ViewBag.secondTable.OperatingSystem</td>
                        </tr>
                        <tr>
                            <td>Ram</td>
                            <td>@ViewBag.secondTable.Ram</td>
                        </tr>
                        <tr>
                            <td>Memory</td>
                            <td>@ViewBag.secondTable.Memory</td>
                        </tr>
                        <tr>
                            <td>MemoryType</td>
                            <td>@ViewBag.secondTable.MemoryType</td>
                        </tr>
                        <tr>
                            <td>Webcam</td>
                            <td>@ViewBag.secondTable.Webcam</td>
                        </tr>

                    </tbody>
                </table>
            }
            else if (Model.CategoryId == 1003)
            {
                <table class="table table-striped table-sm table-hover">
                    <thead>
                        <tr>
                            <h4>@Model.ProductName properties</h4>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Writer</td>
                            <td class="col-8">@ViewBag.secondTable.WriterName</td>

                        </tr>
                        <tr>
                            <td>Category</td>
                            <td>@ViewBag.secondTable.CategoryName</td>
                        </tr>
                        <tr>
                            <td>Publication Year</td>
                            <td>@ViewBag.secondTable.PublicationYear</td>
                        </tr>
                        <tr>
                            <td>Page Number</td>
                            <td>@ViewBag.secondTable.PageNumber</td>
                        </tr>
                        <tr>
                            <td>Language</td>
                            <td>@ViewBag.secondTable.Language</td>
                        </tr>

                    </tbody>
                </table>

            }

        </div>

        @* Extra informations and description section -> they will show under tabs *@

        <ul class="nav nav-tabs " id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Reviews</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">@Html.Raw(Model.Promotion)</div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div style="height:350px;" class="p-2 bg-light ">
                    <span style="color:red">There is no review yet....</span>
                </div>

            </div>
        </div>
    </div>

    




</body>

