@model List<EntityLayer.Concrete.Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NavBar.cshtml";
}


<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<style>
    .productImgHeight {
        height: 10rem;
    }

    .price {
        margin-bottom: 0px;
    }
</style>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_productFilterPart", @Model)
        </div>
        <div class="col-md-9">

            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-3">
                        <div class="card" style="margin-bottom:2rem;">
                            <div class="text-center rounded " style="height:15rem; background-color:beige; ">
                                <img class="img-fluid" style="background-color:" src="@item.Images[0].ImagePath" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@item.ProductName</h5>
                                <p class="card-text price">@item.Price</p>
                                <p style="color:gray; margin-top:0px;">
                                    <small>
                                        <del>@(item.Price+item.Discount)</del>
                                        <b style="color:red">%@((int)((double)item.Discount/(item.Price + item.Discount) * 100))</b>
                                    </small>

                                </p>

                                <a href="#" class="btn" style="color: white; background-color: #fdb03d">Add to Cart</a>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>

